<!-- Section: Team v.2 -->
<section class="team-section text-center my-3">

	<!-- Section heading -->
	<h2 class="h1-responsive font-weight-bold my-2 ">Nuestro increible
		proyecto</h2>
	<!-- Section description -->
	<p class="grey-text w-responsive mx-auto mb-2">Actualmente el
		sector de la industria log&iacute;stica y de transporte se ha dado cuenta de
		la gran importancia de un sistema de gesti&oacute;n de transporte. Por este
		motivo, COLT APP es una aplicaci&oacute;n desarrollada para gestionar el
		manejo de la operaci&oacute;n de transporte de cargas a nivel nacional. Este
		sistema beneficiara a todas las &aacute;reas de la organizaci&oacute;n y a los
		clientes los cuales son la raz&oacute;n de ser de las empresas. Aqu&iacute; se
		mostrar&aacute;n las personas y &aacute;reas las cuales beneficiara COLT APP,
		tambi&eacute;n se mostrar&aacute;n los beneficios de esta soluci&oacute;n de software.</p>
	<br> <br> <br> <br> <br> <br> <br>
	<!-- Grid row -->
	<div class="row text-center">

		<!--                         Grid column -->
		<div class="col-md-4 mb-md-0 mb-3"></div>
		<!--                         Grid column -->

		<!--                         Grid column -->
		<div class="col-md-4 mb-md-0 mb-3"></div>
		<!--                         Grid column -->

		<!--                         Grid column -->
		<div class="col-md-4"></div>
		<!--                         Grid column -->

	</div>
	<!-- Grid row -->

</section>
<!-- Section: Team v.2 -->